.spectacle-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.spectacle-details .details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.spectacle-details .details-header .no-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spectacle-details .details-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}

.image-container {
    position: relative;
}


.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 20px;
    font-weight: bold;
}