/* Container pour le formulaire de connexion */

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    }

.login-container h2 {
    font-size: 1.8rem;
    color: #4b6cb7;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.login-container input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    background-color: #4b6cb7;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #395b99;
}

/* Lien pour l'inscription */
.login-container a {
    display: inline-block;
    margin-top: 10px;
    color: #4b6cb7;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
